$break-small: 720px;

.navigation {
  position: absolute;
  top: 30vw;
  display: flex;
  width: 280px;
  flex-wrap: wrap;
  margin: 16px;
  padding: 8px;
  flex-direction: column;
  @media screen and (max-width: $break-small) {
    top: 250px;
    margin: auto;    
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.nav {
  margin-bottom: 16px;
  padding-right: 8px;
  background-color: #C91E07;
  border-radius: 10px;
  border: none;
  padding: 4px;
  text-align: center;
  &:hover {
    background-color: rgb(240, 61, 37);
  }
  img {    
    border-radius: 20px;
  }
}

.nav-about {

}

.nav-beer {

}

.nav-text {
  text-decoration: none;
  text-decoration-color: white;
  color: white;
  font-size: larger;
}